@import './Box.scss';
@import './Button.scss';
@import './Background.scss';

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden;
    .Group{
        flex-direction: column;
        display: flex;
        gap: 20px;
    }
}